{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KIWI TRAVEL & TOURS</title>

    <!-- Css Folder -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/color.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/themetypo.css' %}" rel="stylesheet">
    <link href="{% static 'css/bxslider.css' %}" rel="stylesheet">
    <link href="{% static 'css/datepicker.css' %}" rel="stylesheet">
    {% block header %} {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<header id="mainheader">
    <!--// Top Baar //-->
    <div class="kd-topbar">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <ul class="kd-topinfo">
                        <li>
                            <div id="lang_sel">
                                <ul>
                                    <li>
                                        <a class="lang_sel_sel icl-en" href="#">ES</a>
                                        <ul>
                                            <li class="icl-fr">
                                                <a href="#">FR</a>
                                            </li>
                                            <li class="icl-de">
                                                <a href="#">DE</a>
                                            </li>
                                            <li class="icl-nl">
                                                <a href="#">NL</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i> Celular: +51 123 456 789
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i> <a href="#">Email: info@viajesayacucho.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <ul class="kd-userinfo">
                        <li>
                            <div class="kd-social-network">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#" data-toggle="modal" data-target="#registerModalbox">Registrar</a>
                            <!-- Modal -->
                            <div class="modal fade kd-loginbox" id="registerModalbox" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <a href="#" class="close" data-dismiss="modal" aria-label="Close"><span
                                                    aria-hidden="true">&times;</span></a>
                                            <div class="kd-login-title">
                                                <h2>Registrate con</h2>
                                                <span>Tus redes</span>
                                                <div class="kd-login-network">
                                                    <ul>
                                                        <li><a href="#" data-original-title="Facebook"><i
                                                                class="fa fa-facebook"></i> Ingresar con Facebook</a>
                                                        </li>
                                                        <li><a href="#" data-original-title="Twitter"><i
                                                                class="fa fa-twitter"></i> Ingresar con Twitter</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="kd-login-sepratore"><span>OR</span></div>

                                            <form>
                                                <p><i class="fa fa-envelope-o"></i> <input type="text"
                                                                                           placeholder="Correo electronico">
                                                </p>
                                                <p><i class="fa fa-lock"></i> <input type="password"
                                                                                     placeholder="tu contraseña"></p>
                                                <p><input type="submit" value="Register now" class="thbg-color"></p>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#" data-toggle="modal" data-target="#Modalbox">Ingresar</a>
                            <!-- Modal -->
                            <div class="modal fade kd-loginbox" id="Modalbox" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <a href="#" class="close" data-dismiss="modal" aria-label="Close"><span
                                                    aria-hidden="true">&times;</span></a>
                                            <div class="kd-login-title">
                                                <h2>Ingresar con</h2>
                                                <span>Tus Redes</span>
                                                <div class="kd-login-network">
                                                    <ul>
                                                        <li><a href="#" data-original-title="Facebook"><i
                                                                class="fa fa-facebook"></i> Ingresar con Facebook</a>
                                                        </li>
                                                        <li><a href="#" data-original-title="Twitter"><i
                                                                class="fa fa-twitter"></i> Ingresar con Twitter</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="kd-login-sepratore"><span>OR</span></div>

                                            <form>
                                                <p><i class="fa fa-envelope-o"></i> <input type="text"
                                                                                           placeholder="Correo electronico">
                                                </p>
                                                <p><i class="fa fa-lock"></i> <input type="password"
                                                                                     placeholder="tu contraseña"></p>
                                                <p><input type="submit" value="Login now" class="thbg-color"> <a
                                                        href="#">olvide la contraseña?</a></p>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--// Top Baar //-->

    <!--// Header Baar //-->
    <div class="kd-headbar">
        <div class="container">
            <div class="row">
                <div class="col-md-3"><a href="{% url 'viajes:home' %}" class="logo"><img
                        src="{% static 'images/logo1.jpg' %}" height="100px"
                        alt=""></a></div>
                <div class="col-md-9">
                    <div class="kd-rightside">
                        <nav class="navbar navbar-default navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#navbar-collapse-1">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="{% url 'viajes:home' %}">Inicio</a></li>
                                    <li><a href="{% url 'viajes:destino' %}">Destinos</a></li>
                                    <li><a href="{% url 'viajes:paquetes' %}">Paquetes </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'viajes:galeria' %}">Galeria</a>
                                    </li>
                                    <li><a href="#">Contactanos</a></li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </nav>
                        <div class="kd-search">
                            <a href="#" class="kd-searchbtn" data-toggle="modal" data-target="#searchmodalbox"><i
                                    class="fa fa-search"></i></a>
                            <!-- Modal -->
                            <div class="modal fade kd-loginbox" id="searchmodalbox" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <a href="#" class="close" data-dismiss="modal" aria-label="Close"><span
                                                    aria-hidden="true">&times;</span></a>
                                            <div class="kd-login-title">
                                                <h2>Busca por destino</h2>
                                            </div>

                                            <form action="{% url 'viajes:paquetes' %}" method="get">
                                                {% csrf_token %}
                                                <p>
                                                    <i class="fa fa-search"></i>
                                                    <input type="text" name="buscar" placeholder="Ingresa tu destino" />
                                                </p>
                                                <p hidden>
                                                    <input hidden name="tipo" value="2" type="text"
                                                                 placeholder="Ingresa tu destino" />
                                                </p>
                                                <p><input type="submit" value="Buscar" class="thbg-color" />
                                                </p>

                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Header Baar //-->

</header>

{% block contenido %}
{% endblock %}

<!--// Footer //-->
<footer id="footer-widget">
    <div class="container">
        <div class="row">

            <div class="widget col-md-4 kd-textwidget">
                <div class="kd-widget-title"><h2>Acerca de nosotros</h2></div>
                <div class="kd-contactinfo">
                    <p>
                        Perú, el país más rico del mundo, nos invita a descubrir que no es más rico quien más tiene sino
                        quien más experiencias inolvidables vive. Y para empezar a vivirlas hay que viajar a Perú, un
                        lugar donde la diversidad y autenticidad de su cultura, naturaleza y gastronomía, guardan la
                        esencia de la vida misma.
                        .</p>
                    <!-- <ul>
                      <li><i class="fa fa-map-marker"></i> 360, Galaxy ApartmentNear Rekon Estate, limbasa margnexton lita, Australia</li>
                      <li><i class="fa fa-phone"></i> 1 808 603 6035</li>
                      <li><i class="fa fa-envelope-o"></i> <a href="#">info@kodeforest.com</a></li>
                    </ul> -->
                </div>
            </div>

            <div class="widget col-md-4 kd-followus-widget">
                <div class="kd-widget-title"><h2>Follow Us</h2></div>
                <ul>
                    <li><a href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" data-original-title="instagram"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" data-original-title="Rss"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#" data-original-title="Youtube"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#" data-original-title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#" data-original-title="Google-Plus"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" data-original-title="skype"><i class="fa fa-skype"></i></a></li>
                </ul>
            </div>

            <div class="widget col-md-4 kd-userinfo-widget">
                <div class="kd-widget-title"><h2>Contacto</h2></div>
                <ul>
                    <li><i class="fa fa-map-marker"></i> 154 Av amancaes Ayacucho, Huamanga</li>
                    <li><i class="fa fa-phone-square"></i> +51 454 5454 211</li>
                    <li><i class="fa fa-envelope"></i> Unsch.com.pe</li>
                    <li><i class="fa fa-skype"></i> <a href="#">info@viajesayacucho.com</a></li>
                </ul>
            </div>


        </div>
    </div>
</footer>
<!--// Footer //-->

<!-- jQuery (Necessary For JavaScript Plugins) -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/waypoints-min.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
{% block script %} {% endblock %}

</body>

</html>