{% extends 'base.html' %}
{% load static from staticfiles %}
{% block header %}
{% endblock %}

{% block contenido %}
    <!--// Sub Header //-->
    <div class="kd-subheader">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="subheader-info">
                        <h1>Gallery List</h1>
                        <!-- <p>Morbi euismod euismod consectetur. Donec pharetra, lacus at convallis maximus, arcu quam accumsan diam, et aliquam odio elit gravida mi</p> -->
                    </div>
                    <div class="kd-breadcrumb">
                        <ul>{% for i in destino %}
                            <li><a href="{% url 'viajes:galeria_id' i.id %}">{{ i.nombre }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--// Sub Header //-->

    <!--// Content //-->
    <div class="kd-content">

        <!--// Page Section //-->
        <section class="kd-pagesection" style=" padding: 0px 0px 0px 0px; background: #ffffff; ">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">

                        <!--// Gallery //-->
                        <div class="kd-gallery-list">
                            <ul class="row">
                                {% if paquete %}
                                    {% for i in paquete %}
                                        <li class="col-md-4">
                                            <figure><a href="#"><img src="{{ i.imagen.url }}" alt=""></a>
                                                <figcaption><h5><a
                                                        href="{% url 'viajes:paquetes_detail' i.paquete.id %}">{{ i.nombre }}
                                                    en {{ i.paquete.destino.nombre }}</a></h5></figcaption>
                                            </figure>
                                        </li>
                                    {% endfor %}
                                {% endif %}


                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--// Page Section //-->

    </div>
    <!--// Content //-->

{% endblock %}
{% block script %}


{% endblock %}